.taskColumn {
  padding: 3%;
  max-height: 75vh;
  overflow-y: auto;
  border-radius: 10px;
  padding-bottom: 30px;
}
.taskItem {
  display: flex;
  background-color: #ffffff;
  margin-bottom: 12px;
  justify-content: space-between;
  min-height: 80px;
}
.taskItem:last-child {
  margin-bottom: 0px;
}
.taskSection {
  display: flex;
}
.taskContent {
  align-content: center;
  margin-left: 10px;
}
.optionBtns {
  align-content: center;
  gap: 5px;
  margin-right: 3px;
}
.content {
  margin-bottom: 10px;
  max-width: 75vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.deleteBtn,
.editBtn {
  background-color: #efefef;
  padding: 5px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.taskContent.completed .content {
  text-decoration: line-through;
  opacity: 0.8;
}
.noTasks {
  height: 30vh;
}
.noTasksContainer {
  display: flex;
  justify-content: center;
}
